* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #9E6C6C;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #00000012;
    justify-content: center;
    align-items: center;
    user-select: none;
    height: 103px;
}

header h1 {
    color: white;
}

header h2 {
    color: #aaaaaa;
    font-size: 11pt;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.grid-section-1 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: calc(100vh - 103px);
}

form {
    grid-row-start: 2;
    grid-row-end: 3;
    border-top: white 2px solid;
    padding-top: 20px;
    background-color: #00000015;
}

.input-container {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-around;
}


.input-name-container {
    display: block;
    width: 155px;
}

.input-name-container label {
    display: block;
    width: 155px;
    text-align: center;
    color: #ffffff; 
    font-size: 15pt;
    margin-bottom: 5px;
}

.date-input {
    width: 155px;
    height: 95px;
    background-color: #764343;
    border: none;
    outline: none;
    font-size: 20pt;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: textfield; 
}

.minute {
    margin-left: 5px;
}

.second {
    margin-left: 5px;
}

.submit-container {
    display: flex;
    width: 640px;
    margin-top: 20px;
    justify-content: center;
}

.submit {
    width: 280px;
    height: 100px;
    border: none;
    outline: none;
    font-size: 16pt;
    margin-top: 12px;
    transition: 0.4s background-color ease-in-out;
    -webkit-transition: 0.4s background-color ease-in-out;
    -moz-transition: 0.4s background-color ease-in-out;
    -ms-transition: 0.4s background-color ease-in-out;
    -o-transition: 0.4s background-color ease-in-out;
}

.submit:hover {
    background-color: #c0c0c0;
    transition: 0.4s background-color ease-in-out;
    -webkit-transition: 0.4s background-color ease-in-out;
    -moz-transition: 0.4s background-color ease-in-out;
    -ms-transition: 0.4s background-color ease-in-out;
    -o-transition: 0.4s background-color ease-in-out;
}

.submit:active {
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
}

.grid-section-2 {
    height: calc(100vh - 103px);
    display: flex;
    width: 100%;
}

#button-info {
    width: 120px;
    height: 120px;
    background-color: #2C323C;
    position: absolute;
    left: calc(50vw - (120px / 2));
    top: 150px;
    opacity: 0;
    transition: 0.4s opacity ease-in-out;
    -webkit-transition: 0.4s opacity ease-in-out;
    -moz-transition: 0.4s opacity ease-in-out;
    -ms-transition: 0.4s opacity ease-in-out;
    -o-transition: 0.4s opacity ease-in-out;
    clip-path: polygon(0 16%, 100% 16%, 100% 80%, 60% 80%, 50% 100%, 40% 80%, 0 80%);
    /* Credits: https://bennettfeely.com/clippy/ */
    z-index: 40;
    padding-top: 25px;
    box-sizing: border-box;
    color: #ffffff;
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    user-select: none;
}

button {
    width: 150px;
    height: 150px;
    font-size: 190pt;
    background-color: #2C323C;
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 150px;
    left: calc(50vw - (150px / 2));
    color: #ffffff;
    border: none;
    border-radius: 8%;
    -webkit-border-radius: 8%;
    -moz-border-radius: 8%;
    -ms-border-radius: 8%;
    -o-border-radius: 8%;
    transition:  1s ease-in-out background-color;
    -webkit-transition:  1s ease-in-out background-color;
    -moz-transition:  1s ease-in-out background-color;
    -ms-transition:  1s ease-in-out background-color;
    -o-transition:  1s ease-in-out background-color;
}

button:hover {
    background-color: #3d434d;
    transition: 1s ease-in-out background-color;
    -webkit-transition: 1s ease-in-out background-color;
    -moz-transition: 1s ease-in-out background-color;
    -ms-transition: 1s ease-in-out background-color;
    -o-transition: 1s ease-in-out background-color;
}

button:active {
    border: none;
    transform: translate(0px, 2px);
    -webkit-transform: translate(0px, 2px);
    -moz-transform: translate(0px, 2px);
    -ms-transform: translate(0px, 2px);
    -o-transform: translate(0px, 2px);
}

.fix-button-for-firefox {
    padding-bottom: 20px;
    font-size: 100pt;
}

.display-box {
    width: 663px;
    height: 269px;
    background-color: #00000033;
    margin-left: 40%;
    margin-top: 40%;
    text-align: center;
    padding-top: 25px;
    box-sizing: content-box;
}

.h3-container {
    display: flex;
    justify-content: center
}

h3 {
    font-size: 30pt;
    font-weight: bold;
    color: #ffffff;
    user-select: none;
}

.display-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-total {
    width: 553px;
    height: 139px;
    font-size: 60pt;
    font-weight: bold;
    background-color: #969696;
    text-align: center;
    margin-top: 6%;
    box-shadow: 10px 10px 0px #2C323C;
}