* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #9E6C6C;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body {
    height: 100%;
    overflow:hidden;
}

.error_resolution {
    position: absolute;
    z-index: calc(9000 + 1); /* It's over 9000!!*/
    width: 100%;
    height: 100%;
    background-color: #0079d8;
    color: #ffffff;
    visibility: hidden;
}

.error_resolution .face {
    margin-left: 20%;
    margin-top: 10%;
    font-size: 100pt;
    display: block ;
}

.error_resolution .message {
    margin-left: 20%;
    font-size: 20pt;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #00000012;
    justify-content: center;
    align-items: center;
    user-select: none;
    height: 103px;
}

header h1 {
    color: white;
}

header h2 {
    color: #aaaaaa;
    font-size: 11pt;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.grid-section-1 {
}

form {

    border-top: white 2px solid;
    background-color: #00000015;
    margin-bottom: 20px;
}

.input-child {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-around;
    padding-top: 5vh;
    margin-bottom: 30px;
}

.input-child-border {
    border-top: 1px solid #ffffff;
}


.input-name-container {
    display: block;
    width: 155px;
}

.input-name-container label {
    display: block;
    width: 155px;
    color: #ffffff; 
    font-size: 15pt;
    margin-bottom: 5px;
    text-align: center;
    user-select: none;
}

.date-input {
    width: 155px;
    height: 95px;
    background-color: #764343;
    border: none;
    outline: none;
    font-size: 20pt;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: textfield; 
}

.submit-container {
    display: flex;
    width: 640px;
    margin-top: 20px;
    justify-content: center;
}

.submit {
    width: 280px;
    height: 100px;
    border: none;
    outline: none;
    font-size: 16pt;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #2C323C;
    color: #ffffff;
    transition: 0.4s background-color ease-in-out;
    -webkit-transition: 0.4s background-color ease-in-out;
    -moz-transition: 0.4s background-color ease-in-out;
    -ms-transition: 0.4s background-color ease-in-out;
    -o-transition: 0.4s background-color ease-in-out;
}

.submit:hover {
    background-color: #3b4250;
    transition: 0.4s background-color ease-in-out;
    -webkit-transition: 0.4s background-color ease-in-out;
    -moz-transition: 0.4s background-color ease-in-out;
    -ms-transition: 0.4s background-color ease-in-out;
    -o-transition: 0.4s background-color ease-in-out;
}

.submit:active {
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
}

.grid-section-2 {
    height: 100%;
    width: 90%;
    padding-right: 10%;
}

.button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#button-info {
    
    width: 120px;
    height: 120px;
    background-color: #2C323C;
    opacity: 0;
    transition: 0.4s opacity ease-in-out;
    -webkit-transition: 0.4s opacity ease-in-out;
    -moz-transition: 0.4s opacity ease-in-out;
    -ms-transition: 0.4s opacity ease-in-out;
    -o-transition: 0.4s opacity ease-in-out;
    clip-path: polygon(0 16%, 100% 16%, 100% 80%, 60% 80%, 50% 100%, 40% 80%, 0 80%);
    /* Credits: https://bennettfeely.com/clippy/ */
    z-index: 40;
    padding-top: 25px;
    box-sizing: border-box;
    color: #ffffff;
    text-align: center;
    font-size: 18pt;
    font-weight: normal;
    user-select: none;
}

button { 
    width: 150px;
    height: 150px;
    font-size: 190pt;
    background-color: #2C323C;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border: none;
    border-radius: 8%;
    -webkit-border-radius: 8%;
    -moz-border-radius: 8%;
    -ms-border-radius: 8%;
    -o-border-radius: 8%;
    transition:  1s ease-in-out background-color;
    -webkit-transition:  1s ease-in-out background-color;
    -moz-transition:  1s ease-in-out background-color;
    -ms-transition:  1s ease-in-out background-color;
    -o-transition:  1s ease-in-out background-color;
}

button:hover {
    background-color: #3d434d;
    transition: 1s ease-in-out background-color;
    -webkit-transition: 1s ease-in-out background-color;
    -moz-transition: 1s ease-in-out background-color;
    -ms-transition: 1s ease-in-out background-color;
    -o-transition: 1s ease-in-out background-color;
}

button:active {
    border: none;
    transform: translate(0px, 2px);
    -webkit-transform: translate(0px, 2px);
    -moz-transform: translate(0px, 2px);
    -ms-transform: translate(0px, 2px);
    -o-transform: translate(0px, 2px);
}

.fix-button-for-firefox {
    padding-bottom: 20px;
    font-size: 100pt;
}

.display-box {
    background-color: #00000033;
    text-align: center;
    padding: 25px;
    height: 50%;
    width: 45%;
    margin-left: 51%;
    margin-top: 17%;
}

.h3-container {
    display: flex;
    justify-content: center
}

h3 {
    font-size: 30pt;
    font-weight: bold;
    color: #ffffff;
    user-select: none;
}

.display-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-total {
    width: 95%;
    padding: 5%;
    font-size: 60pt;
    font-weight: bold;
    background-color: #969696;
    text-align: center;
    margin-top: 6%;
    box-shadow: 10px 10px 0px #2C323C;
    user-select: none;

}

@media (max-width: 1628px)  {
    .display-total {       
        font-size: 35pt;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.result-display {
    animation: ease-in-out success 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4dc94d;
    user-select: text;
    -webkit-transition: background-color ease-in-out 0.4s;
    -moz-transition: background-color ease-in-out 0.4s;
    -ms-transition: background-color ease-in-out 0.4s;
    -o-transition: background-color ease-in-out 0.4s;
    -webkit-animation: ease-in-out success 0.4s;
}

@keyframes success {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.bigger-than-1000 {
    font-size: 35pt;
}